*
{
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-11515.jpg");
    background-size:cover;
    -webkit-filter: blur(16px);
    -moz-filter: blur(16px);
    -o-filter: blur(16px);
    -ms-filter: blur(16px);
    filter: blur(16px);
}
body {
    background-color : #2d8479;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
h1 {
    color: white;
    font-size: 21px;
    font-weight: 400;
}
button {
    color:white;
    background-color: #0ca890;
    border: 0;
    border-radius: 2px;
    padding: 10px 20px;
}
p {
    color: white;
}
a {
    color: #0ca890;
}
section {
    padding: 20px;
}
form {
    background: #354052;
    padding: 0;
    border-radius: 5px;
}
fieldset {
    min-width: 355px;
}
.material {
    position: relative;
    padding: 0;
    margin: 5px;
    border: none;
    overflow: visible;
}
.material input {
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 10px 8px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #DDD;
    font-size: 120%;
    outline: none;
    cursor: text;
}
.material input::-webkit-input-placeholder {
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
}
.material input:not(:focus)::-webkit-input-placeholder {
    color: transparent;
}
.material hr {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    border: none;
    background: #53c0af;
    font-size: 1px;
    will-change: transform, visibility;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    visibility: hidden;
    z-index: 10;
}
.material input:focus ~ hr {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible;
}
.material label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 120%;
    color: #cccdd2;
    -webkit-transform-origin: 0 -150%;
    transform-origin: 0 -150%;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    pointer-events: none;
}
.material input:focus ~ label,
.material input:valid ~ label {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}
.material input[type=date] {
    color:white;
}
.material input[type=date]:focus {
    color: #cccdd2;
}
/*.dataform {
    background: white;
}*/
main {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}
select {
    color: #333333;
    border: 1px solid #e2e2e2;
    width: 100%;
}
legend {
    color: #cccdd2;
}
.container {
    height: 100%;
    padding: 55px 55px 15px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:white;
}
.dialog-header, .dialog-footer {
    text-align: center;
    margin: 0 auto;
    flex-basis: 100%;
    width: 340px;
    padding-bottom: 20px;
}
.container > .flex-item {
    height: 275px;
}
.flex-item {
    align-self: flex-start;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.f1, .f2, .f3 {
    flex-basis: 33%;
}
.f4 {
    flex-basis: 66%;
}
.form {
    max-width: 340px;
}
.inline-block {
    display: inline-block !important;
}
.radio-label {
    display: inline-block !important;
    vertical-align: top !important;
    margin-right: 3% !important;
}
.radio-input {
    display: inline-block !important;
    vertical-align: top !important;
}


.error {
    color: red;
    margin:0px;
    padding-bottom: 10px;
}

