<form class="flex-container form" name="myform" novalidate ng-submit="register()">
    <div class="dialog-header">
        <h1>Registracija</h1>
    </div>
    <div class="flex-item">
        <p>{{message}}</p>
        <fieldset class="material">
            <input type="text" name="firstname" placeholder="Vardas" ng-model="user.firstname" required/>
            <hr>
            <label>Vardas</label>
        </fieldset>
        <p class="error validationerror" ng-show="myform.firstname.$invalid && myform.firstname.$touched">
            Trūksta vardo
        </p>
        <fieldset class="material">
            <input type="text" name="lastname" placeholder="Pavardė" ng-model="user.lastname" required/>
            <hr>
            <label>Pavardė</label>
        </fieldset>
        <p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched">
            Trūksta pavardės
        </p>
        <fieldset class="material">
            <input type="email" name="email" placeholder="El. paštas" ng-model="user.email" required/>
            <hr>
            <label>El. paštas</label>
        </fieldset>
        <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">
            El. paštas netinkamas</p>
        <fieldset class="material">
            <input type="password" name="password" placeholder="Slaptažodis" ng-model="user.password" required/>
            <hr>
            <label>Slaptažodis</label>
        </fieldset>
        <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">
            Slaptažodis negali būti tuščias
        </p>
        <button type="submit" ng-disabled="myform.$invalid" class="btn">Registruotis</button>
        <p>arba <a ng-href="#/login">Prisijunk</a></p>
    </div>
</form>
